@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=League+Gothic&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Header styles----------------- */

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #eeb902;
  color: #474647;
}

.header-section div {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin: 10rem 0;
}

.header-section div a {
  font-size: 3rem;
  text-decoration: none;
  color: #474647;
}

.header-section div a:hover {
  color: #908f90;
}

.snap {
  font-size: 30rem;
  text-decoration: none;
  color: #474647;
}

/* --------------------------- */

/* homepage styles--------------- */

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  background-color: #474647;
  color: rgb(253, 228, 228);
  padding: 10rem 0 10rem 15rem;
}

.home-section h2 {
  font-size: 8rem;
}

.home-section p {
  font-size: 3rem;
  margin: 2rem 0;
}

/* ----------------------- */

/* browsepage styles------------ */
.browse-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: #474647;
  color: rgb(255, 222, 222);
}

.search-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.search-filter h2 {
  font-size: 10rem;
}

.sorting {
  background-color: white;
  width: 15rem;
  padding: 0.5rem 0;
  font-size: 3rem;
  color: black;
  text-align: center;
  border-radius: 0.3rem;
}

.picture-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.picture-container figure {
  padding: 1rem;
}

.date {
  font-size: 1.4rem;
}

.picture-container img {
  border: 1px solid #272525;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.description {
  text-align: center;
  font-size: 1.8rem;
}

/* ------------------------ */

/* Uploadpage styles--------------- */

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 15rem 10rem;
  background-color: #474647;
  color: rgb(255, 220, 220);
}

.upload-section h2 {
  font-size: 10rem;
  margin-bottom: 5rem;
}

.upload-section form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  font-size: 3rem;
}

.span {
  position: relative;
}

.obs {
  position: absolute;
  top: -60px;
  right: -100px;

  background-color: black;
  text-align: center;
  border-radius: 0.5rem;
  display: none;
}

.visible {
  display: unset;
}

.upload-section form * {
  margin: 1rem 0;
}

.upload-section form textarea {
  width: 50rem;
  font-size: 2rem;
  border-radius: 0.2rem;
}

.upload-section form button {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
